node_modules
svg
public/uicons-bold-rounded/svg
public/uicons-regular-rounded/svg
public/uicons-regular-rounded2/uicons-regular-rounded/svg
public/uicons-regular-straight/css/
uicons-regular-straight.css
public/sources
sources