<!DOCTYPE html>
<html lang="en">

  <%- include('./partials/head.ejs') %> 


</head>

<body class="bg-dark text-light text-capitalize">
  <%- include('./partials/nav.ejs') %> 






  <div class="container mt-5 mb-5">
    <div class="card bg-dark">
      <div class="row mt-2">
        <div class="col-12 m-2">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, laudantium? ......</p>
        </div>
      </div>
      <form action="" class="m-2">
        <div class="row justify-content-between">
          <div class="col-lg-5 col-12">
            <div class="input-group mb-3">
              <span class="input-group-text bg-dark border-0 text-light" id="basic-addon1">A:</span>
              <div type="text" class="form-control bg-dark border-0 text-light form-check">
                <label for="" class="form-check-label">Lorem, ipsum dolor.</label>
                <input type="radio" class="" style="cursor: pointer;" name="q" id="">
              </div>
            </div>
          </div>
          <div class="col-lg-5 col-12">
            <div class="input-group mb-3">
              <span class="input-group-text bg-dark border-0 text-light" id="basic-addon1">B:</span>
              <div type="text" class="form-control bg-dark border-0 text-light form-check">
                <label for="" class="form-check-label">Lorem, ipsum dolor.</label>
                <input type="radio" class="" style="cursor: pointer;" name="q" id="">
              </div>
            </div>
          </div>
          <div class="col-lg-5 col-12">
            <div class="input-group mb-3">
              <span class="input-group-text bg-dark border-0 text-light" id="basic-addon1">C:</span>
              <div type="text" class="form-control bg-dark border-0 text-light form-check">
                <label for="" class="form-check-label">Lorem, ipsum dolor.</label>
                <input type="radio" class="" style="cursor: pointer;" name="q" id="">
              </div>
            </div>
          </div>
          <div class="col-lg-5 col-12">
            <div class="input-group mb-3">
              <span class="input-group-text bg-dark border-0 text-light" id="basic-addon1">D:</span>
              <div type="text" class="form-control bg-dark border-0 text-light form-check">
                <label for="" class="form-check-label">Lorem, ipsum dolor.</label>
                <input type="radio" class="" style="cursor: pointer;" name="q" id="">
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-around w-100 m-2 mt-5">
          <div class="col-5 col-md-2">
            <button type="button" class="btn btn-primary">
              <i class="bi bi-caret-left-fill"></i>
              back
            </button>
          </div>
          <div class="col-5 col-md-2">
            <button type="button" class="btn btn-primary">
              next
              <i class="bi bi-caret-right-fill"></i>

            </button>
          </div>
        </div>
      </form>
      <div class="row justify-content-center mt-3 mb-3">
        <span>1/20</span>
      </div>
      <div class="row justify-content-center mt-3 mb-3">
          <input type="submit" class="btn btn-success pr-5 pl-5" value="send">
      </div>
    </div>


  </div>
















  <%- include('./partials/footer.ejs') %> 




  <%- include('./partials/js.ejs') %> 

</body>

</html>